.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
textarea, .form-input,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  appearance: none; /* Remove default arrow in select */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%236b7280"><path fill-rule="evenodd" d="M10 12.586L6.707 9.293a1 1 0 10-1.414 1.414l4.242 4.243a1 1 0 001.415 0l4.242-4.243a1 1 0 10-1.414-1.414L10 12.586z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
  padding-right: 30px; /* Adjust to accommodate the arrow */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

li h3 {
  margin-top: 0;
  color: #333;
}

li p {
  margin: 10px 0;
  color: #666;
}

button.delete-btn,
button.update-btn {
  margin-left: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1px 20px 1px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup select {
  margin-bottom: 10px;
}

.popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}
